# NPM packages folder.
node_modules/


# Nova
.nova/

**/.DS_Store


src/assets/img/avatars/
src/assets/img/brands/
src/assets/img/demos/
src/assets/img/photos/
src/assets/img/illustrations/

*.jpg
*.mp4

# Compiled versions
dev/
dist/

archive/

.publish