<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Sythesising Red Blood Cells using aptamers to take back control of the blood supply.">
<meta name="keywords" content="oxalis, blood, synthetic blood, science, synthetics, heme, hemoglobin, blood cells">
<meta name="author" content="Oxalis">
<title>Oxalis - Sythetic RBC</title>
<link rel="shortcut icon" href="@@webRoot/assets/img/favicon.png">
<link rel="stylesheet" href="@@webRoot/assets/css/plugins.css">
<link rel="stylesheet" href="@@webRoot/assets/css/style.css">
<link rel="preload" href="@@webRoot/assets/css/fonts/alata.css" as="style" onload="this.rel='stylesheet'">