@@if (!context.centerLogo) {
<ul class="navbar-nav">
  }
@@if (context.centerLogo) {
<div class="w-100 order-1 order-lg-0 d-lg-flex offcanvas-body">
  <ul class="navbar-nav ms-lg-auto">
  }
    <li class="nav-item">
      <a class="nav-link" href="@@webRoot/index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@@webRoot/tech.html">About the Tech</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@@webRoot/about.html">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@@webRoot/content.html">Content</a>
    </li>
    
@@if (!context.centerLogo) {
</ul>
}
@@if (context.centerLogo) {
  </ul>
</div>
}